@use 'sass:color';
@use '../styles/variables' as *;

.home-page {
  padding: 1rem;
  font-family: $font-family;
  color: $dark-color;

  h1 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    text-align: center;
    color: $primary-color;
  }

  .user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid $light-color;

    .welcome-message {
      font-size: 1.2rem;
      font-weight: bold;
    }

    .logout-button {
      background-color: $danger-color;
      color: white;
      border: none;
      padding: 0.5rem 1rem;
      border-radius: 4px;
      cursor: pointer;
      font-size: 1rem;

      &:hover {
        background-color: color.scale($danger-color, $lightness: -10%);
      }
    }
  }

  .create-group-section {
    text-align: center;
    margin-bottom: 2rem;

    .create-group-button {
      background-color: $secondary-color;
      color: white;
      border: none;
      padding: 0.75rem 1.5rem;
      border-radius: 4px;
      cursor: pointer;
      font-size: 1.1rem;
      font-weight: bold;

      &:hover {
        background-color: color.scale($secondary-color, $lightness: -10%);
      }
    }
  }

  .groups-list-section {
    h3 {
      font-size: 1.5rem;
      margin-bottom: 1rem;
      color: $dark-color;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        background-color: #fff;
        margin-bottom: 0.5rem;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        
        a {
          display: block;
          padding: 1rem;
          text-decoration: none;
          color: $dark-color;
          &:hover {
            background-color: $light-color;
            border-radius: 8px;
          }
        }
        strong {
          color: $primary-color;
        }
      }
    }

    p {
      text-align: center;
      color: $medium-color;
      font-style: italic;
    }
  }

  // Tablet and wider
  @media (min-width: $breakpoint-tablet) {
    max-width: 800px;
    margin: 0 auto;

    h1 {
      font-size: 2.5rem;
    }

    .user-info {
      padding-bottom: 1.5rem;
    }

    .create-group-section {
      .create-group-button {
        padding: 1rem 2rem;
        font-size: 1.2rem;
      }
    }

    .groups-list-section {
      h3 {
        font-size: 1.8rem;
      }
      ul {
        li {
          padding: 0.75rem 1.5rem;
          margin-bottom: 0.75rem;
        }
      }
    }
  }
}
