@use 'sass:color';
@use './variables' as *;
@use '../pages/GroupDetailPage.scss';

body {
  background-color: $light-color;
  font-family: $font-family;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.normal-button {
  background-color: $secondary-color; // Or any suitable color from your variables
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: $font-size-base;
  &:hover {
    background-color: color.scale($secondary-color, $lightness: -10%);
  }
}